<p id="notice"><%= notice %></p>

<p>
  <b>Actor:</b>
  <%= @pawnshop.actor_id %>
</p>

<p>
  <b>Category:</b>
  <%= @pawnshop.category %>
</p>

<p>
  <b>Sub cartegory:</b>
  <%= @pawnshop.sub_cartegory %>
</p>

<p>
  <b>Product title:</b>
  <%= @pawnshop.product_title %>
</p>

<p>
  <b>Model number:</b>
  <%= @pawnshop.model_number %>
</p>

<p>
  <b>Description:</b>
  <%= @pawnshop.description %>
</p>

<!-- <p>
  <b>Images:</b>
  <%= @pawnshop.images %>
  <%= file_field :image %>

</p> -->

<p>
  <b>Reference link1:</b>
  <%= @pawnshop.Reference_link1 %>
</p>

<p>
  <b>Reference link2:</b>
  <%= @pawnshop.Reference_link2 %>
</p>

<p>
  <b>Reference link3:</b>
  <%= @pawnshop.Reference_link3 %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @pawnshop.purchase_date %>
</p>

<p>
  <b>Reason for sale:</b>
  <%= @pawnshop.reason_for_sale %>
</p>

<p>
  <b>Accessories:</b>
  <%= @pawnshop.accessories %>
</p>

<p>
  <b>Contact:</b>
  <%= @pawnshop.contact %>
</p>

<p>
  <b>Pick up location1:</b>
  <%= @pawnshop.pick_up_location1 %>
</p>

<p>
  <b>Pick up location2:</b>
  <%= @pawnshop.pick_up_location2 %>
</p>

<p>
  <b>Pick up location3:</b>
  <%= @pawnshop.pick_up_location3 %>
</p>

<p>
  <b>Pick up location4:</b>
  <%= @pawnshop.pick_up_location4 %>
</p>

<p>
  <b>Pick up location5:</b>
  <%= @pawnshop.pick_up_location5 %>
</p>

<p>
  <b>Price:</b>
  <%= @pawnshop.price %>
</p>

<p>
  <b>Negotiable:</b>
  <%= @pawnshop.negotiable %>
</p>

<p>
  <b>Spam:</b>
  <%= @pawnshop.spam %>
</p>

<p>
  <b>Visible:</b>
  <%= @pawnshop.visible %>
</p>

<p>
  <b>Pageview:</b>
  <%= @pawnshop.pageview %>
</p>

<p>
  <b>Voteup:</b>
  <%= @pawnshop.voteup %>
</p>

<p>
  <b>Comment:</b>
  <%= @pawnshop.comment %>
</p>

<p>
  <b>Created:</b>
  <%= @pawnshop.created %>
</p>

<p>
  <b>Modified:</b>
  <%= @pawnshop.modified %>
</p>

<p>
  <b>Type pawn:</b>
  <%= @pawnshop.type_pawn %>
</p>

<p>
  <b>Avaialble from:</b>
  <%= @pawnshop.avaialble_from %>
</p>

<p>
  <b>Avaialble till:</b>
  <%= @pawnshop.avaialble_till %>
</p>


<%= link_to 'Edit', edit_pawnshop_path(@pawnshop) %> |
<%= link_to 'Back', pawnshops_path %>
