<p id="notice"><%= notice %></p>

<p>
  <b>Actor:</b>
  <%= @event.actor_id %>
</p>

<p>
  <b>Event:</b>
  <%= @event.event_id %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>Event name:</b>
  <%= @event.event_name %>
</p>

<p>
  <b>Short description:</b>
  <%= @event.short_description %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Venu:</b>
  <%= @event.venu %>
</p>

<p>
  <b>Visible locations:</b>
  <%= @event.visible_locations %>
</p>

<p>
  <b>Visible scope:</b>
  <%= @event.visible_scope %>
</p>

<p>
  <b>Image:</b>
  <%= @event.image %>
</p>


<p>
  <b>Long desciption:</b>
  <%= @event.long_desciption %>
</p>

<p>
  <b>Image1:</b>
  <%= @event.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @event.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @event.image3 %>
</p>

<p>
  <b>Image4:</b>

  <%= @event.image4 %>
</p>

<p>
  <b>Image5:</b>
  <%= @event.image5 %>
</p>

<p>
  <b>Friend:</b>
  <%= @event.friend_id %>
</p>

<p>
  <b>Spam:</b>
  <%= @event.spam %>
</p>

<p>
  <b>Page views:</b>
  <%= @event.page_views %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
