<%= form_for @photo, :html => {:multipart => true} do |f| %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.label :Age %><br />
    <%= f.text_field :age %>
  </p><br />
  <p>
    <%= f.file_field :image %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<h1>New photo</h1>

<%= render 'form' %>

<%= link_to 'Back', photos_path %>
