<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Age:</b>
  <%= @photo.age %>
</p>

<p>
  <b>Pic:</b>
  <%= @photo.pic %>
</p>
<div class='photo'>
	<%= image_tag @photo.image_url(:thumb).to_s %>

</div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
