<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Age:</b>
  <%= @photo.age %>
</p>

<p>
  <b>Pic:</b>
  <%= @photo.pic %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
