<!DOCTYPE html>
<html>
<head>
  <title>VimWatchin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
			<div id="user_nav">
				<% if current_user %>
					Signed in as <strong><%=current_user.first_name %></strong>
					<%=link_to "Sign out", signout_path, id: "sign_out" %>
				<% else %>
					<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%>
				<%end%>

			</div>
		<% flash.each do |first_name,msg| %>
		<% content_tag :div, msg, id: "flash_#{first_name}" %>
		<% end %>

		<%= yield %>

	 <% if current_user %>
    <div id="friends">
      <p><%= link_to "Invite Your Facebook Friends", "#", :id => "invite_fb_friends" %></p>

      <div id="fb-root"></div>

      <script src="http://connect.facebook.net/en_US/all.js"></script>

      <script>
        $(function(){
    
          $("a#invite_fb_friends").click(function() {
            FB.init({ 
               appId:'708601869254108', 
               cookie:false, 
               status:true
            });
      
            FB.ui({ method: 'apprequests', message: ' <%= current_user.last_name %> thinks you are really Awesome.'});
          });
        });


      </script>
    </div>
  <% end %>

</div>	

</body>
</html>
